@import "../../constants/const.scss";

.problemReport {
  &__row,
  &__files {
    max-width: 736px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;

    label {
      font-weight: 600;
      margin-bottom: 9px;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: 1px solid $light-grey;
      border-radius: 4px;
      height: 48px;
      display: flex;
      align-items: center;

      input::placeholder {
        font-size: 16px;
        color: $light-grey-v2;
      }
    }
  }

  &__mapData {
    position: relative;
    margin-top: 27px;

    input {
      border: 1px solid $light-grey;
      border-radius: 4px;
      height: 48px;
      display: flex;
      align-items: center;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 48px;
      border: none;
      outline: none;
      background: $green;
      border-radius: 0 4px 4px 0;

      img {
        width: 14px;
        height: 20px;
      }
    }
  }

  &__map{
    max-width: 1120px;
    width: 100%;
    height: 620px;
    border-radius: 10px;

    > div > ymaps > ymaps,
    > div > ymaps > ymaps > ymaps,{
      border-radius: 10px;
    }
  }

  .ant-btn-group {
    max-width: 736px;
    width: 100%;

    .ant-btn {
      width: 100%;
      height: 64px;
      border: none;
      background: $green-v2;
      border-radius: 8px!important;
      margin-top: 64px;

      &:hover{
        background: $green;
        color: $white;
      }
    }
  }
}