$white: #fff;

$green: #01AC6A;
$green-v2: #21BA72;

$black: #222733;

$red: #E52E2E;

$statusOrange: #FDCC0D;
$statusGreen: #01BB5D;

$light-grey: #C7C7C7;
$light-grey-v2: #656565;
$light-grey-v3: #ECF1F7;
$light-grey-v4: #A1A1A1;
$light-grey-v5: #F7F7F7;
$light-grey-v6: #C7C9CC;
$light-grey-v7: #757575;

$light-blue: #D7EFFE;
$light-green: #DAF4E7;

$headerColor: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(100.04deg, #005988 7.81%, #21B3FF 96.87%);
$headerShadow: 0px 12px 32px rgba(26, 26, 26, 0.24);
$collapseShadow: 0px 0px 2px rgb(0 0 0 / 20%);
$footerColor: linear-gradient(90.13deg, #00C97B 0%, #008D57 100%);