@import "../../constants/const.scss";

.notificationRow {
  display: flex;
  &__title {
    max-width: 224px;
    width: 100%;
    text-align: end;
    padding-right: 32px;
    color: $light-grey-v7;
    font-size: 16px;
  }

  &__text {
    width: 100%;
    font-size: 16px;

    &-bold{
      font-weight: 600;
    }
  }
}